*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* box-sizing: border-box;   serve para que os inputs nao ultrapassem a div em que estao */
  font-family: 'Opens Sans', sans-serif;
}

html, body, #root{
  background-color: #efefef;
  height: 100%;
}